flows.json
[{"id":"1ba001df.d89c4e","type":"tab","label":"Ciudades bosques","disabled":false,"info":""},{"id":"4101a2c0.16ba44","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":626,"y":127.99999237060547,"wires":[["5b5dfc6.9205504"]],"info":"ddd"},{"id":"be84239a.d55ac8","type":"inject","z":"1ba001df.d89c4e","name":"Inicia proceso","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":127.99999237060547,"wires":[["860f2237.ea2a7"]]},{"id":"860f2237.ea2a7","type":"function","z":"1ba001df.d89c4e","name":"Creación de usuario","func":"msg.topic = \"CREATE USER ciudades_bosque;\"\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":127.99999237060547,"wires":[["4101a2c0.16ba44"]]},{"id":"5b5dfc6.9205504","type":"debug","z":"1ba001df.d89c4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":824,"y":127.99999237060547,"wires":[]},{"id":"ddf2c88.055c0b8","type":"comment","z":"1ba001df.d89c4e","name":"Instalación","info":"Para instalar debemos:\n\n * Crear usuario y base de datos\n * Crear tablas\n\n\nNota: Si recibe errores para conectarse a MariaDB o MySQL, ejecute esto desde la consola de base de datos:\nALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password'","x":82,"y":59.99999237060547,"wires":[]},{"id":"4a519d84.337b6c","type":"inject","z":"1ba001df.d89c4e","name":"Inicia proceso","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":233,"wires":[["bafdb4b7.97883"]]},{"id":"bafdb4b7.97883","type":"function","z":"1ba001df.d89c4e","name":"Creación de tablas","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"CREATE TABLE IF NOT EXISTS vivero (id bigint auto_increment primary key, name varchar(256));\" + \n\"CREATE TABLE IF NOT EXISTS sitio (id bigint auto_increment primary key, name varchar(256));\" +\n\"CREATE TABLE IF NOT EXISTS especie (id_inaturalist bigint  primary key, name varchar(256), medium_photo_url varchar(128), square_photo_url varchar(128));\" +\n\"CREATE TABLE IF NOT EXISTS plantula ( id_especie bigint, INDEX esp_ind (id_especie), FOREIGN KEY (id_especie) REFERENCES especie(id_inaturalist),id bigint auto_increment primary key, cantidad bigint);\" +\n\"CREATE TABLE IF NOT EXISTS semilla (id bigint auto_increment primary key, name varchar(256));\" +\n\"CREATE TABLE IF NOT EXISTS cultivo (id bigint auto_increment primary key, name varchar(256));\" +\n\"CREATE TABLE IF NOT EXISTS usuario (id bigint auto_increment primary key, name varchar(256));\"\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":233,"wires":[["4101a2c0.16ba44"]]},{"id":"c53e0289.961848","type":"comment","z":"1ba001df.d89c4e","name":"Portada de Sitio Web","info":"El sitio web nos presenta información para ver el estado de la comunidad, y saber si podemos reservar plántulas y sitios para plantar","x":184,"y":457,"wires":[]},{"id":"4ea9996c.567fc","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":714,"y":517,"wires":[["1670df31.2ad2e1"]],"info":"ddd"},{"id":"bed3f8a1.ac313","type":"inject","z":"1ba001df.d89c4e","name":"Actualiza dashboards c/ 10 min","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":517,"wires":[["bf8ac2a7.c4319","407e0057.cf1c58","640774b5.5202dc","a9ffe2a2.732fd","5b09c651.cc9c9","9074d5ce.685ab8"]]},{"id":"bf8ac2a7.c4319","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de viveros","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from vivero;\"\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":517,"wires":[["4ea9996c.567fc"]]},{"id":"940d150f.09e1c8","type":"ui_chart","z":"1ba001df.d89c4e","name":"Cantidad de viveros","group":"b3186c9a.16569","order":0,"width":0,"height":0,"label":"Cantidad de viveros","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1123,"y":515,"wires":[[]]},{"id":"b9bbe310.3b6be8","type":"inject","z":"1ba001df.d89c4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":1934,"wires":[["aba14a25.8fe5f8"]]},{"id":"aba14a25.8fe5f8","type":"function","z":"1ba001df.d89c4e","name":"Inserta datos de ejemplo","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"INSERT INTO vivero (name) VALUES ('Greencore Solutions');\" +\n\"INSERT INTO especie (name) VALUES ('Guayacan');\" +\n\"INSERT INTO plantula (name) VALUES ('1');\" +\n\"INSERT INTO semilla (name) VALUES ('1');\" +\n\"INSERT INTO cultivo (name) VALUES ('1');\" +\n\"INSERT INTO sitio (name) VALUES ('1');\" \n\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":1919,"wires":[["5d66a5c9.998404"]]},{"id":"5d66a5c9.998404","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":592,"y":1929,"wires":[[]],"info":"ddd"},{"id":"1670df31.2ad2e1","type":"function","z":"1ba001df.d89c4e","name":"Cuenta viveros","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":911,"y":517,"wires":[["940d150f.09e1c8"]]},{"id":"407e0057.cf1c58","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de sitios","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from sitio;\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":596,"wires":[["4f8e82a8.fab724"]]},{"id":"4f8e82a8.fab724","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":708,"y":594,"wires":[["66cab9c6.dcdb9"]],"info":"ddd"},{"id":"66cab9c6.dcdb9","type":"function","z":"1ba001df.d89c4e","name":"Cuenta sitios","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":896,"y":593,"wires":[["4a66923b.c710e4"]]},{"id":"4a66923b.c710e4","type":"ui_chart","z":"1ba001df.d89c4e","name":"Cantidad de sitios","group":"571fb9c.027fa48","order":0,"width":0,"height":0,"label":"Sitios disponibles para sembrar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1111,"y":591,"wires":[[]]},{"id":"640774b5.5202dc","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de semillas","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from semilla;\"\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":677,"wires":[["a233387c.c60c9"]]},{"id":"a9ffe2a2.732fd","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de especies","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from especie;\"\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":745,"wires":[["514571ad.d669b8"]]},{"id":"5b09c651.cc9c9","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de plantula","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from plantula;\"\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":825,"wires":[["fc00d6c6.daa45"]]},{"id":"9074d5ce.685ab8","type":"function","z":"1ba001df.d89c4e","name":"Pide conteo de cultivo","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT count(*) from cultivo;\"\nreturn msg;","outputs":1,"noerr":0,"x":487,"y":891,"wires":[["d192be2a.0a83a"]]},{"id":"a233387c.c60c9","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":714,"y":675,"wires":[["9521a572.3afe48"]],"info":"ddd"},{"id":"514571ad.d669b8","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":721,"y":746,"wires":[["b7f7885a.d79d8"]],"info":"ddd"},{"id":"fc00d6c6.daa45","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":719,"y":830,"wires":[["57b601b0.6b03b8"]],"info":"ddd"},{"id":"d192be2a.0a83a","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":719,"y":890,"wires":[["1144a7e0.1e6fa"]],"info":"ddd"},{"id":"9521a572.3afe48","type":"function","z":"1ba001df.d89c4e","name":"Cuenta semillas","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":917,"y":676,"wires":[["dd270aa8.c59b28"]]},{"id":"b7f7885a.d79d8","type":"function","z":"1ba001df.d89c4e","name":"Cuenta especies","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":747,"wires":[["6bf6e3f7.df6934"]]},{"id":"57b601b0.6b03b8","type":"function","z":"1ba001df.d89c4e","name":"Cuenta plantulas","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":931,"y":820,"wires":[["e1b4786f.cddb88"]]},{"id":"1144a7e0.1e6fa","type":"function","z":"1ba001df.d89c4e","name":"Cuenta cultivos","func":"msg.payload = msg.payload[1][0][\"count(*)\"];\nreturn msg;","outputs":1,"noerr":0,"x":921,"y":885,"wires":[["dcec71cc.8b1c48"]]},{"id":"dd270aa8.c59b28","type":"ui_chart","z":"1ba001df.d89c4e","name":"Cantidad de semillas","group":"571fb9c.027fa48","order":0,"width":0,"height":0,"label":"Semillas disponibles","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1124,"y":678,"wires":[[]]},{"id":"6bf6e3f7.df6934","type":"ui_chart","z":"1ba001df.d89c4e","name":"Cantidad de especies","group":"b3186c9a.16569","order":0,"width":0,"height":0,"label":"Total de especies","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1154,"y":742,"wires":[[]]},{"id":"e1b4786f.cddb88","type":"ui_chart","z":"1ba001df.d89c4e","name":"Cantidad de plántulas","group":"571fb9c.027fa48","order":0,"width":0,"height":0,"label":"Plántulas disponibles","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1148,"y":815,"wires":[[]]},{"id":"dcec71cc.8b1c48","type":"ui_gauge","z":"1ba001df.d89c4e","name":"","group":"b3186c9a.16569","order":3,"width":0,"height":0,"gtype":"gage","title":"Cultivos realizados","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1149,"y":896,"wires":[]},{"id":"8664b055.1b0f","type":"ui_form","z":"1ba001df.d89c4e","name":"Agregar vivero","label":"Agregar vivero","group":"e2ca8377.dad9a8","order":1,"width":0,"height":0,"options":[{"label":"Nombre","value":"nombre","type":"text","required":true},{"label":"Cantidad de especies (aprox)","value":"especie","type":"number","required":false},{"label":"Cantidad de plántulas (aprox)","value":"plantulas","type":"text","required":false},{"label":"Dirección","value":"direccion","type":"text","required":false}],"formValue":{"nombre":"","especie":"","plantulas":"","direccion":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":85,"y":1404.0000610351562,"wires":[["9b24280d.f4f638"]]},{"id":"dc62a614.d1406","type":"comment","z":"1ba001df.d89c4e","name":"Formularios","info":"","x":106,"y":948,"wires":[]},{"id":"aaf3e787.da8ca","type":"comment","z":"1ba001df.d89c4e","name":"Pruebas","info":"","x":103,"y":1861,"wires":[]},{"id":"3be16be2.3e0f0c","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":567,"y":1402,"wires":[[]],"info":"ddd"},{"id":"9b24280d.f4f638","type":"function","z":"1ba001df.d89c4e","name":"Inserta vivero","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"INSERT INTO vivero (name) VALUES ('foo');\"\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":1403.0000610351562,"wires":[["3be16be2.3e0f0c"]]},{"id":"e656bb86.87d32","type":"function","z":"1ba001df.d89c4e","name":"Inserta plántulas","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"INSERT INTO plantula (id_especie, cantidad) VALUES (\"+msg.payload.especie+\",\"+msg.payload.cantidad+\");\"\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":1194,"wires":[["fc752d2.fed94d"]]},{"id":"fc752d2.fed94d","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":914,"y":1194,"wires":[["b530fcb7.5f638"]],"info":"ddd"},{"id":"4a3bd494.795abc","type":"ui_form","z":"1ba001df.d89c4e","name":"Agregar especies","label":"Agregar especies","group":"c66c0a9e.f375e","order":0,"width":0,"height":0,"options":[{"label":"Taxon Id de iNaturalist","value":"taxon","type":"number","required":true}],"formValue":{"taxon":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":96,"y":1522,"wires":[["3f5030ae.41a5b8"]]},{"id":"59ffcc56.d9c0ec","type":"debug","z":"1ba001df.d89c4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1025,"y":1526,"wires":[]},{"id":"52af5cd8.6e28cc","type":"http request","z":"1ba001df.d89c4e","name":"Trae taxon de iNaturalist","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.inaturalist.org/v1/taxa/{{{payload}}}","tls":"fa7f593f.40cab","persist":false,"proxy":"","authType":"","x":613,"y":1558,"wires":[["59ffcc56.d9c0ec","67eeebb8.9c2b3c"]]},{"id":"3f5030ae.41a5b8","type":"change","z":"1ba001df.d89c4e","name":"Ajusta valores para hablar con API","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.taxon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":343,"y":1521,"wires":[["52af5cd8.6e28cc"]]},{"id":"67eeebb8.9c2b3c","type":"function","z":"1ba001df.d89c4e","name":"Inserta especies","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"INSERT INTO especie (id_inaturalist, name, square_photo_url, medium_photo_url) VALUES (\"+ msg.payload.results[0].id +\",'\" + msg.payload.results[0].name + \"', '\"+ msg.payload.results[0].default_photo.square_url +\"','\"+ msg.payload.results[0].default_photo.medium_url +\"');\"\nreturn msg;\n\n//payload.results[0].name","outputs":1,"noerr":0,"x":888,"y":1572,"wires":[["62e90fbb.a13ba8"]]},{"id":"62e90fbb.a13ba8","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":1120,"y":1571,"wires":[["59ffcc56.d9c0ec"]],"info":"ddd"},{"id":"30f3862c.a10b32","type":"comment","z":"1ba001df.d89c4e","name":"TODO","info":"Cambiar a trigger","x":151,"y":571,"wires":[]},{"id":"4757ed11.eedd5c","type":"comment","z":"1ba001df.d89c4e","name":"Desarrollo: Limpia base de datos","info":"","x":147.75,"y":275.8333282470703,"wires":[]},{"id":"665648e5.89b9a","type":"inject","z":"1ba001df.d89c4e","name":"Inicia proceso","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115.08332824707031,"y":364.0833435058594,"wires":[["2eca2d1a.0f6bb2"]]},{"id":"2eca2d1a.0f6bb2","type":"function","z":"1ba001df.d89c4e","name":"Borra base de datos","func":"msg.topic = \"DROP DATABASE ciudades_bosque;\"\nreturn msg;","outputs":1,"noerr":0,"x":305.0833282470703,"y":364.0833435058594,"wires":[["4d13b06b.730f38"]]},{"id":"4d13b06b.730f38","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":617.0833282470703,"y":364.0833435058594,"wires":[["a9fe5ece.1b0af"]],"info":"ddd"},{"id":"a9fe5ece.1b0af","type":"debug","z":"1ba001df.d89c4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":815.0833282470703,"y":364.0833435058594,"wires":[]},{"id":"7fe5e653.ca90c8","type":"inject","z":"1ba001df.d89c4e","name":"Inicia proceso","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.08332824707031,"y":181.08334350585938,"wires":[["5c552732.791a9"]]},{"id":"5c552732.791a9","type":"function","z":"1ba001df.d89c4e","name":"Creación de base de datos","func":"msg.topic = \"CREATE DATABASE ciudades_bosque;\"\nreturn msg;","outputs":1,"noerr":0,"x":328.0833282470703,"y":181.08334350585938,"wires":[["4101a2c0.16ba44"]]},{"id":"e6973595.9a8078","type":"function","z":"1ba001df.d89c4e","name":"Inserta especies de ejemplo","func":"// Inserta especies de ejemplo\n\nvar msgList = [];\nvar especies = [551431,147260,47441,124444,163862,209270,60439];\n\nfor (var i in especies) {\n    msgList.push({payload:especies[i]});\n}\n\nreturn [msgList];","outputs":1,"noerr":0,"x":515.7500152587891,"y":1684.5833282470703,"wires":[["52af5cd8.6e28cc"]]},{"id":"3430e2c.2e1f59e","type":"inject","z":"1ba001df.d89c4e","name":"","topic":"Inicia proceso","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.75,"y":1699,"wires":[["e6973595.9a8078"]]},{"id":"9c7b2f05.d5513","type":"ui_dropdown","z":"1ba001df.d89c4e","name":"Seleccionar especies","label":"","tooltip":"","place":"Select option","group":"42415b96.c22df4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"especie","x":153,"y":1141,"wires":[["592d1315.0ef72c"]]},{"id":"7f47ae28.b50d98","type":"inject","z":"1ba001df.d89c4e","name":"","topic":"Inicia proceso","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":1041.4166259765625,"wires":[["4e9fb71f.6ff2f8"]]},{"id":"4e9fb71f.6ff2f8","type":"function","z":"1ba001df.d89c4e","name":"Lista especies de BD","func":"msg.topic = \"USE ciudades_bosque;\" +\n\"SELECT name, id_inaturalist from especie;\"\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":1042,"wires":[["8e1dab4.7a69258"]]},{"id":"8e1dab4.7a69258","type":"mysql","z":"1ba001df.d89c4e","mydb":"67324bbc.a39d5c","name":"Base de datos local","x":510,"y":1040,"wires":[["8d80b57e.9ae69"]],"info":"ddd"},{"id":"8d80b57e.9ae69","type":"function","z":"1ba001df.d89c4e","name":"Envía imágenes como opciones","func":"msg.options = [];//create empty array\nfor(let i = 0; i < msg.payload[1].length; i++){\n    let row = msg.payload[1][i]; //get the row\n    let opt = {};//make new opt object\n    opt[row.name] = row.id_inaturalist; \n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":1040,"wires":[["9c7b2f05.d5513"]]},{"id":"592d1315.0ef72c","type":"function","z":"1ba001df.d89c4e","name":"Recibe formulario de plántulas","func":"var data1 = context.get(\"especie\") || 0;\nvar data2 = context.get(\"cantidad\") || 0;\n\nswitch (msg.topic){\n\n    case \"especie\":\n        especie = msg.payload;\n        context.set(\"especie\", especie);\n        return;\n\n    case \"cantidad\":\n        cantidad = msg.payload;\n        context.set(\"cantidad\", cantidad);\n        return;\n\n    case \"go\":\n        msg.payload = { especie: especie, cantidad: cantidad};\n}\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":462,"y":1199,"wires":[["e656bb86.87d32"]]},{"id":"558c645d.4f2e54","type":"ui_button","z":"1ba001df.d89c4e","name":"","group":"42415b96.c22df4","order":4,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"go","x":116,"y":1257,"wires":[["592d1315.0ef72c"]]},{"id":"5e69bb94.43adfc","type":"ui_slider","z":"1ba001df.d89c4e","name":"Cantidad de plántulas","label":"Cantidad de plántulas","tooltip":"","group":"42415b96.c22df4","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"cantidad","min":0,"max":"50","step":1,"x":156,"y":1198,"wires":[["592d1315.0ef72c","3b8bd4d.e2c4aac"]]},{"id":"3b8bd4d.e2c4aac","type":"ui_gauge","z":"1ba001df.d89c4e","name":"Cantidad de plántulas","group":"42415b96.c22df4","order":3,"width":0,"height":0,"gtype":"gage","title":"Cantidad de plántulas","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":377,"y":1262,"wires":[]},{"id":"2ea80614.54b772","type":"ui_toast","z":"1ba001df.d89c4e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Muestra plántulas agregadas","x":1177,"y":1262,"wires":[]},{"id":"b530fcb7.5f638","type":"change","z":"1ba001df.d89c4e","name":"Mensajes de plántulas agregadas","rules":[{"t":"set","p":"topic","pt":"msg","to":"Plántulas agregadas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1171,"y":1195,"wires":[["2ea80614.54b772"]]},{"id":"67324bbc.a39d5c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"mysql","tz":""},{"id":"b3186c9a.16569","type":"ui_group","z":"","name":"Pulso en la comunidad","tab":"d63c2185.6832a","disp":true,"width":"6","collapse":false},{"id":"571fb9c.027fa48","type":"ui_group","z":"","name":"Conteo de recursos","tab":"d63c2185.6832a","disp":true,"width":"6","collapse":false},{"id":"e2ca8377.dad9a8","type":"ui_group","z":"","name":"Vivevo","tab":"47a0d0f2.335a08","disp":true,"width":"6","collapse":false},{"id":"c66c0a9e.f375e","type":"ui_group","z":"","name":"Seleccionar especie","tab":"abad669a.afdde","disp":true,"width":"6","collapse":false},{"id":"fa7f593f.40cab","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"42415b96.c22df4","type":"ui_group","z":"","name":"Plántulas","tab":"47a0d0f2.335a08","order":2,"disp":true,"width":"6","collapse":false},{"id":"d63c2185.6832a","type":"ui_tab","z":"","name":"Ciudades bosque","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"47a0d0f2.335a08","type":"ui_tab","z":"","name":"Ofrecer","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"abad669a.afdde","type":"ui_tab","z":"","name":"Manejo de especies","icon":"dashboard","order":4,"disabled":false,"hidden":false}]